*.json
*.log
*.pyc
*.pdf
*.db
*.txt
*.mp3
*.wav
*.zip
*.csv
*-checkpoint.ipynb
*-checkpoint.py
*-checkpoint.csv
*.cfg
*.spacy
*.pkl
*.model

src/data-collection/profile/*
src/data-cleaning/ner/models
**/env/*
**/nmf/*

!requirements.txt